<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        {{template "header_page.html" .}}
        <!-- END PAGE HEADER-->
        <div class="row">
			<div class="col-md-12">
               <form action="" method="get" class="form-horizontal">
					<label class="control-label col-md-4">关键字</label>
					<div class="input-group input-medium">
						<input type="text" class="form-control" name="keyword" value="{{if compare .keyword "" }} {{else}}{{.keyword}}{{end}}">
					</div>
					<label class="control-label col-md-4">Appid</label>
					<div class="input-group input-medium">
						<input type="text" class="form-control" name="appid" value="{{if  compare .appid "" }} {{else}}{{.appid}}{{end}}">
					</div>
                  <div class="form-group">
						 <button class="btn green pull-right" name="submit" type="submit" value="search"> 查询 </button>
						 <button class="btn green pull-right"> <a href="/replymanager/add" style="color: #FFFFFF"> 添加</a> </button>
                   </div>
               </form>
			</div>
            <div class="col-md-12">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"></div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="table_static_basic.html#portlet-config" data-toggle="modal" class="config"> </a>
                            <a href="javascript:;" class="reload"> </a>
                            <a href="javascript:;" class="remove"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th> 编号 </th>
                                        <th> 公众号  </th>
                                        <th> AppId  </th>
                                        <th> 关键字 </th>
                                        <th> 回复内容	 </th>
                                        <th> 操作</th>
                                    </tr>
                                </thead>
                                <tbody>
								{{if .items}}
									{{range .items}}
	                                    <tr>
	                                        <td >{{.Id}}</td>
											<td	> {{.AppName}} </td>
											<td	> {{.AppId}} </td>
	                                        <td > {{.KeyWord}} </td>
	                                        <td > {{.ReplyContent}} </td>
	                                        <td>
												<a href="/replymanager/edit?id={{.Id}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 编辑 </a>
	                                            <a href="/replymanager/delete?id={{.Id}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 删除 </a>
											</td>
	                                    </tr>
									{{end}}
								{{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
            
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
