<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        {{template "header_page.html" .}}
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class="row">
         <div class="col-md-12">
                <div class="tabbable-line boxless tabbable-reversed">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_0">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i></div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse"> </a>
                                        <a href="form_layouts.html#portlet-config" data-toggle="modal" class="config"> </a>
                                        <a href="javascript:;" class="reload"> </a>
                                        <a href="javascript:;" class="remove"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->
                                    <form action="" method="post" class="form-horizontal">
										<input type="text" name="id"  class="form-control input-circle" value="{{.info.Id}}" style="display:none" >
										<input type="text" name="appid"  class="form-control input-circle" value="{{.info.WxAppId}}" style="display:none" >
                                        <div class="form-body">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">站名称</label>
												 <div class="col-md-4">
                                                    <input type="text" name="name"  disabled="disabled"  class="form-control input-circle" value="{{.name}}">
                                                </div>
                                            </div>
											<div class="form-group">
                                                <label class="col-md-3 control-label">关键字</label>
                                                <div class="col-md-4">
                                                    <input type="text" name="reply_keyword" class="form-control input-circle" value="{{.info.Keyword}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">回复内容</label>
												<div class="col-md-4">
													<textarea class="form-control input-circle" name="reply_content" style="height:300px">{{.info.Resultword}}</textarea>
									            </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button type="submit" class="btn btn-circle green">提交</button>
                                                    <button type="button" class="btn btn-circle grey-salsa btn-outline" onclick="window.history.back()">取消</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- END FORM-->
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
