<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-slider">
            <ul class="cbp-slider-wrap">
                <li class="cbp-slider-item">
                    <a href="http://keenthemes.com/preview/metronic/theme/assets/global/plugins/cubeportfolio/assets/global/img/portfolio/1200x900/1.jpg" class="cbp-lightbox">
                        <img src="http://keenthemes.com/preview/metronic/theme/assets/global/plugins/cubeportfolio/assets/global/img/portfolio/600x600/33.jpg" alt=""> </a>
                </li>
                <li class="cbp-slider-item">
                    <a href="http://keenthemes.com/preview/metronic/theme/assets/global/plugins/cubeportfolio/assets/global/img/portfolio/1200x900/02.jog" class="cbp-lightbox">
                        <img src="http://keenthemes.com/preview/metronic/theme/assets/global/plugins/cubeportfolio/assets/global/img/portfolio/600x600/34.jpg" alt=""> </a>
                </li>
                <li class="cbp-slider-item">
                    <a href="http://keenthemes.com/preview/metronic/theme/assets/global/plugins/cubeportfolio/assets/global/img/portfolio/1200x900/3.jpg" class="cbp-lightbox">
                        <img src="http://keenthemes.com/preview/metronic/theme/assets/global/plugins/cubeportfolio/assets/global/img/portfolio/600x600/26.jpg" alt=""> </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">World Clock Widget</div>
        <div class="cbp-l-inline-subtitle">by Paul Flavius Nechita</div>
        <div class="cbp-l-inline-desc">Minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis
            officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae!</div>
        <a href="project4.html#" target="_blank" class="cbp-l-inline-view btn blue btn-outline">VIEW PROJECT</a>
    </div>
</div>