<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        {{template "header_page.html" .}}
        <!-- END PAGE HEADER-->
        <div class="row">
			<div class="col-md-12">
               <form action="" method="get" class="form-horizontal">
					<label class="control-label col-md-4">消息名称</label>
					<div class="input-group input-medium">
						<input type="text" class="form-control" name="msg_name" value="{{if compare .msg_name "" }}{{else}}{{.msg_name}}{{end}}">
					</div>
					<label class="control-label col-md-4">消息ID</label>
					<div class="input-group input-medium">
						<input type="text" class="form-control" name="msg_id" value="{{if  eq .msg_id 0 }} {{else}}{{.msg_id}}{{end}}">
					</div>
					<label class="control-label col-md-4">消息类型</label>
					<div class="input-group input-medium">
                           <select class="form-control" name="msg_type">
							<option value="">所有</option>
							<option value="1" {{if eq .msg_type 1}}selected{{end}}>文字</option>
							<option value="2" {{if eq .msg_type 2}}selected{{end}}>图文</option>
							</select>
					</div>
                <div class="form-group">  
					<button class="btn green" name="submit" type="submit" value="search"> 查询 </button>
				</div>
                <div class="form-group">  
					<button class="btn green "> <a href="/matter/word/add" style="color: #FFFFFF"> 添加文字</a> </button>
				</div>
                <div class="form-group">  
					 <button class="btn green "> <a href="/matter/img/add" style="color: #FFFFFF"> 添加图文</a> </button>
				</div>
               </form>
			</div>
            <div class="col-md-12">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"></div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="table_static_basic.html#portlet-config" data-toggle="modal" class="config"> </a>
                            <a href="javascript:;" class="reload"> </a>
                            <a href="javascript:;" class="remove"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th> 编号 </th>
                                        <th> 消息名称  </th>
                                        <th> 消息类型  </th>
                                        <th> 操作</th>
                                    </tr>
                                </thead>
                                <tbody>
								{{if .items}}
									{{range .items}}
	                                    <tr>
	                                        <td >{{.Id}}</td>
											<td	> {{.MsgName}} </td>
											<td	> 
												{{if eq .MsgType 1}}
													文字消息
												{{else if eq .MsgType 2}}
													图文消息
												{{end}}
											</td>
	                                        <td>
												{{if eq .MsgType 1}}
													<a href="/manager/message/text/edit?id={{.Id}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 编辑 </a>
												{{else if eq .MsgType 2}}
													<a href="/manager/message/img/edit?id={{.Id}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 编辑 </a>
												{{end}}
	                                            <a href="/manager/message/delete?id={{.Id}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 删除 </a>
											</td>
	                                    </tr>
									{{end}}
								{{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
            
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
