<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        {{template "header_page.html" .}}
        <!-- END PAGE HEADER-->

        <div class="row">
		     <div class="col-md-12">
               <form action="" method="get" class="form-horizontal">
                  <div class="form-group">
						<label class="control-label col-md-4">系统用户名称</label>
                        <div class="input-group input-medium">
                           <input type="text" class="form-control" name="channelUserName" value="{{.channelUserName}}">
						</div>
						<a href="/userRight/add" class="btn green"> 添加系统用户 </a>&nbsp;&nbsp;<button class="btn green pull-right" type="submit"> 查询 </button>
                   </div>
               </form>

			</div>
            <div class="col-md-12">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"></div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="table_static_basic.html#portlet-config" data-toggle="modal" class="config"> </a>
                            <a href="javascript:;" class="reload"> </a>
                            <a href="javascript:;" class="remove"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th> 编号 </th>
                                        <th> 用户名称 </th>
										<th> 用户类型 </th>
										<th> 用户状态 </th>

										
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody>
								{{if .items}}
								{{range .items}}
                                    <tr>
                                        <td class="highlight">
                                            <div class="success"></div>
                                            <a href="javascript:;"> {{.Id}} </a>
                                        </td>
										<td> {{.UserName}} </td>
										<td> {{if eq .UserType 1}}管理员{{else if eq .UserType 2}}普通用户 {{else if eq .UserType 3}} 查询用户{{end}}</td>
										<td> {{if eq .Status 1}}正常{{else}}禁止{{end}} </td>
                                        <td>
                                            <a href="/userRight/edit/{{.Id}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 编辑 </a>
                                        </td>
                                    </tr>
								{{end}}
								{{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
            
        </div>
		<div class="row">
			<div class="col-md-10"></div>
			<div class="col-md-2">
				<div class="dataTables_paginate paging_bootstrap_number" id="sample_editable_1_paginate">
				<ul class="pagination" style="visibility: visible;">
				{{if .prevPage}}
				<li class="prev"><a title="上一页" href="/channelUser/{{.prevPage}}"><i class="fa fa-angle-left"></i></a></li>
				{{else}}
				<li class="prev disable"><a title="上一页" href=""><i class="fa fa-angle-left"></i></a></li>
				{{end}}
				<li class="active"><a href="/channelUser/1">1</a></li>
				<li><a href="/channelUser/2">2</a></li>
				<li class="next"><a title="下一页" href="/channelUser/{{.nextPage}}"><i class="fa fa-angle-right"></i></a></li>
				</ul>
				</div>
			</div>
		</div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
