<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        {{template "header_page.html" .}}
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class="row">
         <div class="col-md-12">
                <div class="tabbable-line boxless tabbable-reversed">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_0">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i></div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse"> </a>
                                        <a href="form_layouts.html#portlet-config" data-toggle="modal" class="config"> </a>
                                        <a href="javascript:;" class="reload"> </a>
                                        <a href="javascript:;" class="remove"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->
                                    <form action="" method="post" class="form-horizontal">
                                        <div class="form-body">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">系统用户名称</label>
                                                <div class="col-md-4">
                                                    <input type="text" name="UserName" class="form-control input-circle" placeholder="" value="{{.item.UserName}}">
                                                </div>
                                            </div>
                                            {{if .item.Id }}
                                            {{else}}
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">密码</label>
                                                    <div class="col-md-4">
                                                        <input type="text" name="PassWord" class="form-control input-circle" placeholder="" value="{{.item.PassWord}}">
                                                    </div>
                                                </div>
                                            {{end}}
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">用户类型</label>
                                                <div class="col-md-4">
													<select class="form-control input-circle" name="UserType">
													<option value="1" {{if eq .item.UserType 1}}selected{{end}}>管理员</option>
													<option value="2" {{if eq .item.UserType 2}}selected{{end}}>普通用户</option>
                                                    <option value="3" {{if eq .item.UserType 3}}selected{{end}}>查询用户</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">用户状态</label>
                                                <div class="col-md-4">
                                                    <select class="form-control input-circle" name="Status">
                                                        <option value="1" {{if eq .item.Status 1}}selected{{end}}>正常</option>
                                                        <option value="2" {{if eq .item.Status 2}}selected{{end}}>禁止</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button type="submit" class="btn btn-circle green">保存</button>
                                                    <button type="button" class="btn btn-circle grey-salsa btn-outline" onclick="window.history.back()">取消</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- END FORM-->
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
