<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        {{template "header_page.html" .}}
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class="row">
         <div class="col-md-12">
                <div class="tabbable-line boxless tabbable-reversed">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_0">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i></div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse"> </a>
                                        <a href="form_layouts.html#portlet-config" data-toggle="modal" class="config"> </a>
                                        <a href="javascript:;" class="reload"> </a>
                                        <a href="javascript:;" class="remove"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->
                                    <form action="" method="post" class="form-horizontal">
                                        <div class="form-body">
												{{	if eq .type 2}}
													  <div class="form-group">
                                                <label class="col-md-3 control-label">模版编号</label>
                                                <div class="col-md-4">
                                                    <input type="text" name="model_no" class="form-control input-circle" placeholder="" value="{{.model_no}}" >
                                                </div>
                                            </div>
												{{end}}
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">微信ID</label>
                                                <div class="col-md-4">
                                                    <input type="text" name="weixin_id" class="form-control input-circle" placeholder="" value="{{.weixin_id}}" disabled="disabled">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">模版ID</label>
                                                <div class="col-md-4">
													{{	if eq .type 1}}
													<input type="text" name="model_id" class="form-control input-circle" placeholder="">
													{{else if eq .type 2}}
													 <input type="text" name="model_id" class="form-control input-circle" placeholder="" value="{{.model_id}}">
													{{end}}
                                                   
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">模版类型</label>
                                                <div class="col-md-4">
                                                    <input type="text" name="model_type" class="form-control input-circle" placeholder="" value="{{.model_type}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">模版名称</label>
                                                <div class="col-md-4">
                                                    <input type="text" name="model_name" class="form-control input-circle" placeholder="" value="{{.model_name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button type="submit" class="btn btn-circle green">提交</button>
                                                    <button type="button" class="btn btn-circle grey-salsa btn-outline" onclick="window.history.back()">取消</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- END FORM-->
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
