<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        {{template "header_page.html" .}}
        <!-- END PAGE HEADER-->

        <div class="row">
		     <div class="col-md-12">
			</div>
            <div class="col-md-12">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"></div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="table_static_basic.html#portlet-config" data-toggle="modal" class="config"> </a>
                            <a href="javascript:;" class="reload"> </a>
                            <a href="javascript:;" class="remove"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th> 编号 </th>
                                        <th> 微信名称 </th>
                                        <th> 邮箱 </th>
									  <th> AppId </th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody>
								{{if .items}}
								{{range .items}}
                                    <tr>
                                        <td class="highlight">
                                            <div class="success"></div>
                                            <a href="javascript:;"> {{.Id}} </a>
                                        </td>
										<td> {{.Name}} </td>
										<td> {{.Mail}} </td>
										<td> {{.WxAppId}} </td>
                                        <td>
                                            <a href="/weixin/groupdown/{{.WxAppId}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 刷新分组 </a>
                                            <a href="/weixin/materialdown/{{.WxAppId}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 刷新素材 </a>
											<a href="/weixin/material/{{.WxAppId}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 推送消息 </a>
											<a href="/weixin/add/onlyid?wxappid={{.WxAppId}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 添加唯一ID </a>
											<a href="/material/text/list?wxappid={{.WxAppId}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 文字推送 </a>
<!--                                          	<a href="/weixin/menu/{{.WxAppId}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 自定义菜单 </a>-->
<!--                                        	<a href="/weixin/menusend/{{.WxAppId}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 刷新菜单 </a>-->
<!--                         			 		<a href="/weixin/model/list/{{.WxAppId}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 模版管理 </a>-->
										</td>
                                    </tr>
								{{end}}
								{{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
            
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
