<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        {{template "header_page.html" .}}
        <!-- END PAGE HEADER-->

        <div class="row">
			<div class="col-md-12">
               <form action="" method="get" class="form-horizontal">
					<label class="control-label col-md-4">模版ID</label>
					<div class="input-group input-medium">
						<input type="text" class="form-control" name="model_id">
					</div>
					<label class="control-label col-md-4">模版名称</label>
					<div class="input-group input-medium">
						<input type="text" class="form-control" name="model_name" >
					</div>
					<label class="control-label col-md-4">模版类型</label>
					<div class="input-group input-medium">
						<input type="text" class="form-control" name="model_type">
					</div>
                  <div class="form-group">
						<a href="/weixin/model/add/{{.weixin_id}}" class="btn green"> 添加模版 </a>
						<button class="btn green pull-right" name="submit" type="submit" value="search"> 查询 </button>
                   </div>
               </form>

			</div>
            <div class="col-md-12">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"></div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="table_static_basic.html#portlet-config" data-toggle="modal" class="config"> </a>
                            <a href="javascript:;" class="reload"> </a>
                            <a href="javascript:;" class="remove"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                         <center>
						 <table class="table table-striped table-bordered table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th> 模版编号 </th>
                                        <th> 模版类型 </th>
                                        <th> 模版名称 </th>
										<th> 模版操作 </th>
                                    </tr>
                                </thead>
                                <tbody>
								{{if .item}}
								{{range .item}}
                                    <tr>
										<td> {{.WxModelId}} </td>
                                        <td> {{.ModelType}} </td>
										<td> {{.ModelName}} </td>
										<td>
                                            <a href="/weixin/model/update/{{.WxAppId}}/{{.WxModelId}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 修改模版 </a>
											<a href="/weixin/model/delete/{{.WxAppId}}/{{.WxModelId}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 删除模版 </a>
										</td>
                                    </tr>
								{{end}}
								{{end}}
                                </tbody>
                            </table>
						</center>
                        </div>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
            
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
