<div class="page-footer">
    <div class="page-footer-inner"> 2016 &copy; 北京景像天成数字科技有限公司
        <!--a target="_blank" href="../../../../index.html">Keenthemes</a> &nbsp;|&nbsp;-->
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>