<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
		<title>{{.Title}}</title>
        {{template "headercore.html" .}}
		{{.HeaderExt}}
        <link rel="shortcut icon" href="favicon.ico.jpeg" /> </head>
    <!-- END HEAD -->

    <body class=" login">
        <!-- BEGIN LOGO -->
        <div class="logo">
            <!--a href="index.html">
                <img src="/assets/pages/img/logo-big.png" alt="" /> </a-->
        </div>
        <!-- END LOGO -->
		{{.LayoutContent}}
        <!-- BEGIN COPYRIGHT -->
        <div class="copyright"> 2016 &copy; 北京景像天成数字科技有限公司 </div>
        <!-- END COPYRIGHT -->
        <!--[if lt IE 9]>
<script src="/assets/global/plugins/respond.min.js"></script>
<script src="/assets/global/plugins/excanvas.min.js"></script> 
<script src="/assets/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
		<!-- BEGIN CORE PLUGINS -->
		{{template "footercore.html" .}}
        <!-- END CORE PLUGINS -->
		{{.FooterExt}}



</body>


</html>