<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <!-- END SIDEBAR TOGGLER BUTTON -->

            <li class="nav-item start active open">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">控制面板</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start active open">
                        <a href="/" class="nav-link ">
                            <i class="icon-bar-chart"></i>
                            <span class="title">控制面板</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                </ul>
            </li>

                <li class="heading">
                    <h3 class="uppercase">管理</h3>
                </li>
				 <li class="nav-item  ">
                    <a href="/weixin" class="nav-link">
                        <i class="icon-settings"></i>
                        <span class="title">帐号管理</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/manager/replymanager" class="nav-link">
                        <i class="icon-settings"></i>
                        <span class="title">回复管理</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/manager/menu" class="nav-link">
                        <i class="icon-settings"></i>
                        <span class="title">菜单管理</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/manager/message" class="nav-link">
                        <i class="icon-settings"></i>
                        <span class="title">消息管理</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/manager/sengmsg" class="nav-link">
                        <i class="icon-settings"></i>
                        <span class="title">发送管理</span>
                    </a>
                </li>
				<li class="nav-item  ">
                    <a href="/material/text" class="nav-link">
                        <i class="icon-settings"></i>
                        <span class="title">文字素材</span>
                    </a>
                </li>
                <li class="heading">
                    <h3 class="uppercase">系统</h3>
                </li>
                <li class="nav-item  ">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-settings"></i>
                        <span class="title">系统</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="/user/logout" class="nav-link ">
                                <span class="title">退出</span>
                            </a>
                        </li>
                    </ul>
            </li>
               
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>