<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <!-- END SIDEBAR TOGGLER BUTTON -->

            <li class="nav-item start active open">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">控制面板</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start active open">
                        <a href="/" class="nav-link ">
                            <i class="icon-bar-chart"></i>
                            <span class="title">控制面板</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="heading">
                <h3 class="uppercase">内容</h3>
            </li>
            <li class="nav-item  ">
                <a href="/book/list" class="nav-link">
                    <i class="icon-settings"></i>
                    <span class="title">图书管理</span>
                </a>
            </li>
			<li class="heading">
                <h3 class="uppercase">运营</h3>
            </li>
            <li class="nav-item  ">
                <a href="/operation/block" class="nav-link">
                    <i class="icon-settings"></i>
                    <span class="title">推荐管理</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="/operation/block2" class="nav-link">
                    <i class="icon-settings"></i>
                    <span class="title">推荐管理-新</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="/channel" class="nav-link">
                    <i class="icon-settings"></i>
                    <span class="title">渠道管理</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="/channel2" class="nav-link">
                    <i class="icon-settings"></i>
                    <span class="title">渠道管理2</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="/channelUser" class="nav-link">
                    <i class="icon-settings"></i>
                    <span class="title">渠道用户管理</span>
                </a>
            </li>

			<li class="heading">
                <h3 class="uppercase">客服</h3>
            </li>
            <li class="nav-item  ">
                <a href="/customer/userinfo" class="nav-link">
                    <i class="icon-settings"></i>
                    <span class="title">客服查询</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>