<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        {{template "header_page.html" .}}
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class="row">
         <div class="col-md-12">
                <div class="tabbable-line boxless tabbable-reversed">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_0">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i></div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse"> </a>
                                        <a href="form_layouts.html#portlet-config" data-toggle="modal" class="config"> </a>
                                        <a href="javascript:;" class="reload"> </a>
                                        <a href="javascript:;" class="remove"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->
                                    <form action="/material/text/sendgroup/do" method="post" class="form-horizontal">
									 	<input type="text" name="materiaid" class="form-control input-circle" placeholder="" value="{{.item.Id}}" style="display: none" >
										<input type="text" name="wxappid" class="form-control input-circle" placeholder="" value="{{.item.Wxappid}}" style="display: none" >
										<input type="text" name="content" class="form-control input-circle" placeholder="" value="{{.item.Content}}" style="display: none" >
										<input type="text" name="types" class="form-control input-circle" placeholder="" value="{{.item.Mtype}}" style="display: none" >
                                        <div class="form-body">
										  <div class="form-group">
												<label class="col-md-3 control-label"></label>
	                                            <div class="col-md-4" style="color:red; text-align:center">订阅号只能选全部，服务号可选分组</div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">消息类型</label>
	                                                <div class="col-md-4">
	                                                    {{.item.Mtype}}
	                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">备注</label>
                                                <div class="col-md-4">
                                                    {{.item.Remark}}
                                                </div>
                                            </div>
											<div class="form-group">
	                                            <label class="col-md-3 control-label">分级选择</label>
												{{if compare $.wxType 1}}
													{{if $.groups}}
			                                           <div class="col-md-4">
														<select class="form-control input-circle" name="groupid">
																{{range $k,$v:=$.groups}}
																	<option value="{{$v.Group}}" >{{$v.Name}}</option>
																{{end}}
															</select>
			                                               </div>
													{{end}}
												{{else}}
													<div class="col-md-4">
														<select class="form-control input-circle" name="groupid">
																	<option value="999" >全部</option>
															</select>
			                                        </div>
												{{end}}
	                                        </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button type="submit" class="btn btn-circle green">发送</button>
                                                    <button type="button" class="btn btn-circle grey-salsa btn-outline" onclick="window.history.back()">取消</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- END FORM-->
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
