<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        {{template "header_page.html" .}}
        <!-- END PAGE HEADER-->

        <div class="row">
		     <div class="col-md-12">

			</div>
            <div class="col-md-12">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"></div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="table_static_basic.html#portlet-config" data-toggle="modal" class="config"> </a>
                            <a href="javascript:;" class="reload"> </a>
                            <a href="javascript:;" class="remove"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th> 编号 </th>
                                        <th> 素材类型 </th>
                                        <th> 素材备注 </th>
                                        <th> 添加时间 </th>
                                        <th> 操作</th>
                                    </tr>
                                </thead>
                                <tbody>
								{{if .items}}
									{{range .items}}
	                                    <tr>
	                                        <td >{{.Id}} </td>
											<td> {{.Mtype}} </td>
											<td> {{.Remark}} </td>
											<td> {{date .CreateTime "Y-m-d H:i:s"}} </td>
	                                        <td>
	                                            <a href="/material/text/sendgroup?materialid={{.Id}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 分组发送 </a>
												<a href="/material/text/sendtest?materialid={{.Id}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 单条测试 </a>
												<a href="/material/text/edit?materialid={{.Id}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 编辑文字素材 </a>
	                                        </td>
	                                    </tr>
									{{end}}
								{{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
            
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
