<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        {{template "header_page.html" .}}
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class="row">
         <div class="col-md-12">
                <div class="tabbable-line boxless tabbable-reversed">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_0">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i></div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse"> </a>
                                        <a href="form_layouts.html#portlet-config" data-toggle="modal" class="config"> </a>
                                        <a href="javascript:;" class="reload"> </a>
                                        <a href="javascript:;" class="remove"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->
                                    <form action="" method="post" class="form-horizontal">
										<input type="text" name="menuid"  class="form-control input-circle" value="{{.menuid}}" style="display:none" >
										<input type="text" name="menu_id"  class="form-control input-circle" value="{{.info.Id}}" style="display:none" >
										<input type="text" name="appid"  class="form-control input-circle" value="{{.wxinfo.WxAppId}}" style="display:none" >
                                        <div class="form-body">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">站名称</label>
												 <div class="col-md-4">
                                                    <input type="text" name="name"  disabled="disabled"  class="form-control input-circle" value="{{.wxinfo.Name}}">
                                                </div>
                                            </div>
											<div class="form-group">
                                                <label class="col-md-3 control-label">菜单名称</label>
                                                <div class="col-md-4">
                                                    <input type="text" name="menu_name" class="form-control input-circle" value="{{.info.Name}}">
                                                </div>
                                            </div>
											<div class="form-group">
                                                <label class="col-md-3 control-label">菜单排序</label>
                                                <div class="col-md-4">
                                                    <input type="text" name="menu_order" class="form-control input-circle" value="{{.info.OrderId}}">
                                                </div>
                                            </div>
											<div class="form-group">
                                                <label class="col-md-3 control-label">菜单类型</label>
												<div class="col-md-4">
													<select class="form-control input-circle" name="menu_type">
														<option value="1" {{if .info}} {{if eq .info.Type 1}} selected   {{end}} {{end}}>跳转链接</option>
														{{if .info}}
															{{if eq .info.Pid 0}}
																<option value="2" {{if .info}} {{if eq .info.Type 2}} selected {{end}} {{end}}>二级菜单</option>
															{{end}}
														{{end}}
														<option value="3" {{if .info}} {{if eq .info.Type 3}} selected {{end}} {{end}}>事件回复</option>
													</select>
		                                        </div>
                                            </div>
											<div class="form-group">
                                                <label class="col-md-3 control-label">跳转连接</label>
                                                <div class="col-md-4">
                                                    <input type="text" name="menu_url" class="form-control input-circle" value="{{.info.Tourl}}" placeholder="选择跳转链接时必填">
                                                </div>
                                            </div>
											<div class="form-group">
                                                <label class="col-md-3 control-label">事件回复Key</label>
                                                <div class="col-md-4">
                                                    <input type="text" name="menu_key" class="form-control input-circle" value="{{.info.MenuKey}}" placeholder="选择事件回复时必填">
                                                </div>
                                            </div>
											 <div class="form-group">
                                                <label class="col-md-3 control-label">事件回复内容</label>
												<div class="col-md-4">
													<textarea class="form-control input-circle" name="menu_content" style="height:300px" placeholder="选择事件回复时必填">{{.info.ResContent}}</textarea>
									            </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button type="submit" class="btn btn-circle green">提交</button>
                                                    <button type="button" class="btn btn-circle grey-salsa btn-outline" onclick="window.history.back()">取消</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- END FORM-->
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
