<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        {{template "header_page.html" .}}
        <!-- END PAGE HEADER-->

        <div class="row">
		     <div class="col-md-12">
			</div>
            <div class="col-md-12">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"></div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="table_static_basic.html#portlet-config" data-toggle="modal" class="config"> </a>
                            <a href="javascript:;" class="reload"> </a>
                            <a href="javascript:;" class="remove"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th> 编号 </th>
                                        <th> 菜单名称 </th>
                                        <th> 菜单属性 </th>
                                        <th> 排序值 </th>
									    <th> AppId </th>
                                        <th> 操作</th>
                                    </tr>
                                </thead>
                                <tbody>
								{{if .items}}
									{{range .items}}
	                                    <tr>
	                                        <td >{{.Id}} </td>
											<td> {{.Name}} </td>
	                                        <td> {{if eq .Type 1}}跳转链接{{else if eq .Type 2 }}二级菜单{{else if eq .Type 3 }}事件自动回复{{end}}</td>
	                                        <td> {{.OrderId}} </td>
	                                        <td> {{.WxAppId}} </td>
	                                        <td>
	                                             <a href="/manager/menu/edit?id={{.Id}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 编辑 </a>
												{{if eq .Type 2 }}<a href="/manager/menu/submenu?id={{.Id}}&appid={{.WxAppId}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 管理二级菜单</a>{{end}} 
												{{if eq .Type 2 }}<a href="/manager/menu/addSubmenu?id={{.Id}}&appid={{.WxAppId}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 添加二级菜单</a>{{end}} 
	                                            <a href="/manager/menu/deletemenu?id={{.Id}}&appid={{.WxAppId}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i>   删除 </a>
	                                        </td>
	                                    </tr>
									{{end}}
								{{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
            
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
