<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        {{template "header_page.html" .}}
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"></div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="table_static_basic.html#portlet-config" data-toggle="modal" class="config"> </a>
                            <a href="javascript:;" class="reload"> </a>
                            <a href="javascript:;" class="remove"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th> 编号 </th>
                                        <th> 公众号  </th>
                                        <th> AppId  </th>
                                        <th> 密钥  </th>
                                        <th> 邮箱  </th>
                                        <th> 原始ID  </th>
                                        <th> 操作</th>
                                    </tr>
                                </thead>
                                <tbody>
								{{if .items}}
									{{range .items}}
	                                    <tr>
	                                        <td >{{.Wxaccount.Id}}</td>
											<td	> {{.Wxaccount.Name}} </td>
											<td	> {{.Wxaccount.WxAppId}} </td>
											<td	> {{.Wxaccount.AppSecret}} </td>
											<td	> {{.Wxaccount.Mail}} </td>
											<td	> {{.Wxaccount.OriginalId}} </td>
	                                        <td>
												<a href="/manager/menu/list?appid={{.Wxaccount.WxAppId}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 编辑 </a>
												{{if eq .IsFull 0}}
													<a href="/manager/menu/addSubmenu?appid={{.Wxaccount.WxAppId}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 添加 </a>
												{{else}}
													<a href="#"  class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 菜单已满</a>
												{{end}}
	                                            <a href="/manager/menu/update?appid={{.Wxaccount.WxAppId}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 更新 </a>
											</td>
	                                    </tr>
									{{end}}
								{{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
            
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
