<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        {{template "header_page.html" .}}
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class="row">
         <div class="col-md-12">
                <div class="tabbable-line boxless tabbable-reversed">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_0">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i></div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse"> </a>
                                        <a href="form_layouts.html#portlet-config" data-toggle="modal" class="config"> </a>
                                        <a href="javascript:;" class="reload"> </a>
                                        <a href="javascript:;" class="remove"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->
                                    <form action="" method="post" class="form-horizontal">
                                        <div class="form-body">
											 <div class="form-group">
                                                <label class="col-md-3 control-label">选择站</label>
												{{if .items}}
													<div class="col-md-4">
														<select class="form-control input-circle" name="appid">
															{{range $key,$value :=.items}}
																<option value="{{$value.WxAppId}}" >{{$value.Name}}</option>
															{{end}}
														</select>
		                                            </div>
												{{end}}
                                            </div>
											 <div class="form-group">
                                                <label class="col-md-3 control-label">任务类型</label>
												<div  class="col-md-4">
							                           <select class="form-control input-circle" name="send_type">
															<option value="1">文字</option>
															<option value="2">图文</option>
														</select>
												</div>
                                            </div>
											<div class="form-group">
                                                <label class="col-md-3 control-label">任务名称</label>
                                                <div class="col-md-4">
                                                    <input type="text" name="name" class="form-control input-circle" value="" >
                                                </div>
                                            </div>
											<div class="form-group">
                                                <label class="col-md-3 control-label">消息id</label>
                                                <div class="col-md-4">
                                                    <input type="text" name="msgid" class="form-control input-circle" value="" placeholder="用英文逗号隔开">
                                                </div>
                                            </div>
                                            <div class="form-group">
												<label class="col-md-3 control-label">发送时间</label>
												<div class="col-md-4">
													<input name="sendtime" type="datetime-local" value=""/>
									            </div>
                                            </div>
											
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button type="submit" class="btn btn-circle green">提交</button>
                                                    <button type="button" class="btn btn-circle grey-salsa btn-outline" onclick="window.history.back()">取消</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- END FORM-->
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.js"></script>
<script type="text/javascript" src="/static/js/WdatePicker.js"> </script>