<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        {{template "header_page.html" .}}
        <!-- END PAGE HEADER-->
        <div class="row">
			<div class="col-md-12">
                <div class="form-group">  
					<button class="btn green "> <a href="/manager/sengmsg/add" style="color: #FFFFFF"> 添加任务</a> </button>
				</div>
			</div>
            <div class="col-md-12">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"></div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="table_static_basic.html#portlet-config" data-toggle="modal" class="config"> </a>
                            <a href="javascript:;" class="reload"> </a>
                            <a href="javascript:;" class="remove"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th> 编号 </th>
                                        <th> 发送公众号  </th>
                                        <th> 发送名称  </th>
                                        <th> 发送类型  </th>
                                        <th> 发送时间  </th>
                                        <th> 操作</th>
                                    </tr>
                                </thead>
                                <tbody>
								{{if .items}}
									{{range .items}}
	                                    <tr>
	                                        <td >{{.SendMsg.Id}}</td>
	                                        <td >{{.WxAppName}}</td>
											<td	> {{.SendMsg.TaskName}} </td>
											<td	> 
												{{if eq .SendMsg.SendType 1}}
													文字消息
												{{else if eq .SendMsg.SendType 2}}
													图文消息
												{{end}}
											</td>
											<td> {{.SendMsg.SendTime}}:00:00</td>
	                                        <td>
												<a href="/manager/sengmsg/delete?id={{.SendMsg.Id}}" class="btn btn-outline btn-circle btn-sm purple"><i class="fa fa-edit"></i> 删除 </a>
											</td>
	                                    </tr>
									{{end}}
								{{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
            
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
